# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
image_processor

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build folders
build/

# Editor files
.vscode/
.idea/
*.swp
*~

# Allow output directory but ignore its contents
output/*
!output/.gitkeep
